#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#hiVideo {
  position: fixed;
  right: 300;
  bottom: 100;
  min-width: 50%;
  min-height: 50%;
}






